<div class="flex items-start justify-center h-full bg-gray-100">
  <ul class="space-y-4 pt-5">
    <li *ngFor="let tab of tabs">
      <!-- PARENT -->
      <div
        class="flex items-center justify-between cursor-pointer gap-x-3"
        (click)="toggleMenu(tab)"
        [ngClass]="{
          'text-red-500 font-medium': isActive(tab),
          'text-gray-600 ': !isActive(tab),
        }"
      >
        <div class="flex items-center gap-3">
          <i [class]="tab.icon" class="text-[0.9rem]"></i>
          <span class="text-[0.8rem]">{{ tab.label }}</span>
        </div>
      </div>

      <!-- CHILDREN -->
      <ul *ngIf="tab.children && isOpen(tab.key)" class="mt-2 ml-7 space-y-2 text-gray-500">
        <li
          *ngFor="let child of tab.children"
          (click)="selectChild(child.key, $event)"
          [ngClass]="{
            'text-red-500 font-medium': activeTab === child.key,
          }"
        >
          <span class="text-[0.75rem]">{{ child.label }}</span>
        </li>
      </ul>
    </li>
  </ul>
</div>
