<div class="h-full px-3 py-2 flex flex-col gap-y-5 overflow-auto">
  <!-- Filter -->
  <div class="w-full bg-white p-4 rounded-xl border border-gray-200 flex flex-col">
    <!-- FILTER ROW -->
    <div class="flex flex-wrap items-center gap-6 text-[0.85rem]">
      <!-- Card number -->
      <div class="flex items-center gap-2">
        <span class="text-gray-600 whitespace-nowrap">Card number</span>
        <input
          type="text"
          placeholder="Please enter your card number"
          class="h-9 w-[200px] px-3 border border-gray-300 rounded outline-none focus:border-gray-400"
        />
      </div>

      <!-- Remark -->
      <div class="flex items-center gap-2">
        <span class="text-gray-600 whitespace-nowrap">Remark</span>
        <input
          type="text"
          placeholder="Please enter"
          class="h-9 w-[160px] px-3 border border-gray-300 rounded outline-none focus:border-gray-400"
        />
      </div>

      <!-- Transaction status -->
      <div class="flex items-center gap-2">
        <span class="text-gray-600 whitespace-nowrap">Transaction status</span>
        <select
          class="h-9 w-[150px] px-3 border border-gray-300 text-gray-500 rounded outline-none focus:border-gray-400 bg-white"
        >
          <option>Please ...</option>
          <option>Active</option>
          <option>Inactive</option>
        </select>
      </div>

      <!-- Recording time -->
      <div class="flex items-center gap-2">
        <span class="text-gray-600 whitespace-nowrap">Recording time</span>

        <div class="flex items-center border border-gray-300 rounded overflow-hidden text-gray-500">
          <input type="date" class="h-9 px-2 outline-none w-[130px]" />
          <span class="px-2 text-gray-400">-</span>
          <input type="date" class="h-9 px-2 outline-none w-[130px]" />
        </div>
      </div>
      <!-- BUTTON ROW -->
      <div class="flex gap-4 text-[0.8rem]">
        <button
          class="h-9 px-4 bg-red-600 text-white rounded hover:bg-red-700 transition flex items-center gap-2"
        >
          <i class="fa-solid fa-magnifying-glass"></i>
          Search
        </button>

        <button
          class="h-9 px-4 bg-red-600 text-white rounded hover:bg-red-700 transition flex items-center gap-2"
        >
          <i class="fa-solid fa-rotate"></i>
          Reset
        </button>
      </div>
    </div>
  </div>

  <!-- Transaction Infos -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
    <!-- Success Rate -->
    <div
      class="flex items-center justify-between bg-white border border-gray-200 rounded-xl px-6 py-5"
    >
      <div>
        <p class="text-gray-700 text-sm">Transaction success rate</p>
        <p class="text-2xl mt-2">2.3</p>
      </div>

      <div
        class="w-16 h-16 flex items-center justify-center border-4 border-red-500 rounded-full text-red-500 text-3xl"
      >
        <i class="fa-solid fa-wallet"></i>
      </div>
    </div>

    <!-- Total Volumne -->
    <div
      class="flex items-center justify-between bg-white border border-gray-200 rounded-xl px-6 py-5"
    >
      <div>
        <p class="text-gray-700 text-sm">Total transaction volume</p>
        <p class="text-2xl mt-2">1</p>
      </div>

      <div
        class="w-16 h-16 flex items-center justify-center border-4 border-red-500 rounded-xl text-red-500 text-3xl"
      >
        <i class="fa-solid fa-circle-check"></i>
      </div>
    </div>

    <!-- Refund amount -->
    <div
      class="flex items-center justify-between bg-white border border-gray-200 rounded-xl px-6 py-5"
    >
      <div>
        <p class="text-gray-700 text-sm">Refund amount</p>
        <p class="text-2xl mt-2">12</p>
      </div>

      <div
        class="w-16 h-16 flex items-center justify-center border-4 border-red-500 rounded-xl text-red-500 text-3xl"
      >
        <i class="fa-solid fa-lock"></i>
      </div>
    </div>

    <!-- Refund rate -->
    <div
      class="flex items-center justify-between bg-white border border-gray-200 rounded-xl px-6 py-5"
    >
      <div>
        <p class="text-gray-700 text-sm">Refund rate</p>
        <p class="text-2xl mt-2">12</p>
      </div>

      <div
        class="w-16 h-16 flex items-center justify-center border-4 border-red-500 rounded-xl text-red-500 text-3xl"
      >
        <i class="fa-solid fa-lock"></i>
      </div>
    </div>
  </div>

  <!-- Transaction record list table -->

  <div class="min-w-0">
    <div
      class="flex items-center justify-between px-4 py-2 bg-neutral-secondary-soft border-b border-default bg-white"
    >
      <div class="text-sm font-medium text-heading">
        <label>Transaction record list</label>
      </div>
      <div class="flex items-center">
        <button
          class="h-9 px-3 bg-green-200 text-green-600 rounded hover:bg-green-300 transition flex items-center gap-2"
        >
          <i class="fa-solid fa-file-export"></i>
          Export
        </button>
      </div>
    </div>
    <form [formGroup]="form" class="overflow-x-auto">
      <table class="w-full text-sm text-left border-collapse border border-default">
        <!-- HEADER -->
        <thead class="border-b bg-gray-50">
          <tr class="text-gray-600">
            <!-- CHECK ALL -->

            <th class="px-3 py-3 border-r border-default">card number</th>
            <th class="px-3 py-3 border-r border-default">transaction type</th>
            <th class="px-3 py-3 border-r border-default">merchant name</th>
            <th class="px-3 py-3 border-r border-default">currency</th>
            <th class="px-3 py-3 border-r border-default">amount</th>
            <th class="px-3 py-3 border-r border-default">is payment received?</th>
            <th class="px-3 py-3 border-r border-default">transaction status</th>
            <th class="px-3 py-3 border-r border-default">recording time</th>
            <th class="px-3 py-3 border-r border-default">remark</th>
          </tr>
        </thead>

        <!-- BODY -->
        <tbody formArrayName="rows">
          <tr
            *ngFor="let row of rows.controls; let i = index"
            [formGroupName]="i"
            class="border-b hover:bg-gray-50"
          >
            <td class="px-3 py-3 border-r border-default">{{ row.value.cardNumber }}</td>
            <td class="px-3 py-3 border-r border-default">{{ row.value.transactionType }}</td>
            <td class="px-3 py-3 border-r border-default">{{ row.value.merchantName }}</td>
            <td class="px-3 py-3 border-r border-default">{{ row.value.currency }}</td>
            <td class="px-3 py-3 border-r border-default">{{ row.value.amount }}</td>
            <td class="px-3 py-3 border-r border-default">{{ row.value.received }}</td>
            <td class="px-3 py-3 border-r border-default">{{ row.value.status }}</td>
            <td class="px-3 py-3 border-r border-default">{{ row.value.recordTime }}</td>
            <td class="px-3 py-3 border-r border-default">{{ row.value.remark }}</td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
