<div
  class="h-screen w-full flex items-center justify-center bg-red-50 gray-100 px-8 small_laptop:px-36 font-['Helvetica_Neue']"
>
  <div
    class="w-full h-[90%] flex flex-col small_laptop:flex-row max-w-6xl bg-white mx-auto shadow-xl rounded-2xl overflow-auto"
  >
    <div
      class="flex-1 small_laptop:w-1/2 p-8 tablet:p-12 laptop:p-10 flex items-center justify-center"
    >
      <div class="w-full max-w-md">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
