<div class="h-full w-full px-3 py-2 flex flex-col gap-y-5 overflow-auto">
  <!--  TOP TOOLBAR -->
  <form [formGroup]="searchForm">
    <div
      class="w-full flex flex-col gap-y-5 bg-white p-4 border border-gray-200 rounded-xl justify-center"
    >
      <div class="w-full flex flex-wrap sm:flex-row items-center gap-2 text-[0.85rem]">
        <div class="flex items-center gap-2">
          <span class="text-gray-600">Slash transaction id</span>
          <input
            formControlName="slashTransactionId"
            type="text"
            placeholder="Please enter your Slash transaction id"
            class="h-9 px-3 border border-gray-300 rounded"
          />
        </div>

        <div class="flex items-center gap-2">
          <span class="text-gray-600">Merchant description</span>
          <input
            formControlName="merchantDescription"
            type="text"
            placeholder="Please enter description"
            class="h-9 px-3 border border-gray-300 rounded"
          />
        </div>

        <div class="flex items-center gap-2">
          <span class="text-gray-600">status</span>
          <select formControlName="status" class="h-9 px-3 border border-gray-300 rounded">
            <option [ngValue]="null">Please ...</option>
            <option class="text-green-600" [ngValue]="CardTransactionStatus.POSTED">POSTED</option>
            <option class="text-red-600" [ngValue]="CardTransactionStatus.PENDING">PENDING</option>
            <option class="text-gray-400" [ngValue]="CardTransactionStatus.FAILED">FAILED</option>

            <option class="text-slate-600 font-medium" [ngValue]="CardTransactionStatus.REVERSED">
              REVERSED
            </option>

            <option class="text-yellow-600" [ngValue]="CardTransactionStatus.UNKNOWN">
              UNKNOWN
            </option>
          </select>
        </div>

        <div class="flex items-center gap-2">
          <span class="text-gray-600">Creation time</span>
          <div class="flex items-center border border-gray-300 rounded overflow-hidden">
            <input type="date" formControlName="fromTime" class="h-9 px-2 outline-none" />
            <span class="px-2 text-gray-400">-</span>
            <input type="date" formControlName="toTime" class="h-9 px-2 outline-none" />
            <!-- ERROR -->
            <div *ngIf="searchForm.errors?.['invalidDateRange']" class="text-red-500 text-xs mt-1">
              From date must be before To date
            </div>
          </div>
        </div>
      </div>

      <div class="w-full flex gap-x-2 text-[0.8rem]">
        <button
          (click)="onSearchClick()"
          [disabled]="searchForm.invalid"
          class="h-9 px-3 bg-red-600 text-white rounded transition flex items-center gap-2 disabled:bg-gray-300 disabled:text-gray-500 disabled:cursor-not-allowed"
        >
          <i class="fa-solid fa-magnifying-glass"></i> Search
        </button>

        <button
          type="button"
          (click)="onReset()"
          [disabled]="searchForm.invalid"
          class="h-9 px-3 bg-red-600 text-white rounded transition flex items-center gap-2 disabled:bg-gray-300 disabled:text-gray-500 disabled:cursor-not-allowed"
        >
          Reset
        </button>
      </div>
    </div>
  </form>

  <!-- Deposit history table -->
  <div class="rounded-base border border-default bg-neutral-primary">
    <div class="overflow-x-auto">
      <form [formGroup]="form">
        <table class="w-full text-sm text-left border-collapse border border-default">
          <!-- HEADER -->
          <thead class="bg-gray-100 border-b border-default text-xs">
            <tr class="text-center">
              <th class="p-3 border-r border-default">ID</th>
              <th class="p-3 border-r border-default">Amount</th>
              <th class="p-3 border-r border-default">Currency</th>
              <th class="p-3 border-r border-default">Status</th>
              <th class="p-3 border-r border-default">Merchant description</th>
              <th class="p-3 border-r border-default">Slash transaction ID</th>
              <th class="p-3">Updated at</th>
            </tr>
          </thead>

          <!-- BODY -->
          <tbody formArrayName="rows">
            <tr
              *ngFor="let row of rows.controls; let i = index"
              [formGroupName]="i"
              class="border-b border-default hover:bg-gray-50 text-center text-xs"
            >
              <!-- ID -->
              <td class="px-4 py-3 border-r border-default">
                {{ row.get('id')?.value }}
              </td>

              <!-- Amount -->
              <td
                class="px-4 py-3 border-r border-default font-medium"
                [ngClass]="{
                  'text-red-600': row.get('amount')?.value < 0,
                  'text-green-600': row.get('amount')?.value > 0,
                }"
              >
                {{ row.get('amount')?.value }}
              </td>

              <!-- Currency -->
              <td class="px-4 py-3 border-r border-default">
                <span class="px-2 py-1 text-xs bg-blue-100 text-blue-600 rounded">
                  {{ row.get('currency')?.value }}
                </span>
              </td>

              <!-- Status -->
              <td class="px-4 py-3 border-r border-default">
                <span
                  class="px-2 py-1 text-xs rounded"
                  [ngClass]="{
                    'bg-yellow-100 text-yellow-600': row.get('status')?.value === 'PENDING',
                    'bg-green-100 text-green-600': row.get('status')?.value === 'POSTED',
                    'bg-red-100 text-red-600':
                      row.get('status')?.value === 'FAILED' ||
                      row.get('status')?.value === 'REVERSED',
                    'bg-gray-100 text-gray-600': row.get('status')?.value === 'UNKNOWN',
                  }"
                >
                  {{ row.get('status')?.value }}
                </span>
              </td>

              <!-- Merchant description -->
              <td class="px-4 py-3 border-r border-default">
                {{ row.get('merchant_description')?.value || '-' }}
              </td>

              <!-- Slash transaction ID -->
              <td class="px-4 py-3 border-r border-default">
                <div
                  class="group relative flex items-center justify-center gap-2 max-w-[260px] mx-auto"
                >
                  <span class="truncate">
                    {{ row.get('slash_transaction_id')?.value }}
                  </span>

                  <i
                    class="fa fa-copy text-gray-400 cursor-pointer opacity-0 group-hover:opacity-100 transition"
                    (click)="
                      copyAddressRecord(row.get('slash_transaction_id')?.value);
                      $event.stopPropagation()
                    "
                  ></i>

                  <span
                    class="absolute -top-6 right-0 text-xs bg-black text-white px-2 py-1 rounded opacity-0 group-hover:opacity-100 transition"
                  >
                    Copy
                  </span>
                </div>
              </td>

              <!-- Updated at -->
              <td class="px-4 py-3">
                {{ row.get('updated_at')?.value | date: 'dd/MM/yyyy HH:mm' }}
              </td>
            </tr>
          </tbody>
        </table>
      </form>
      <app-pagination
        [page]="transactionPage"
        [pageSize]="transactionPageSize"
        [totalItems]="transactionTotalItems"
        (pageChange)="onTransactionPageChange($event)"
        (pageSizeChange)="onTransactionPageSizeChange($event)"
      ></app-pagination>
    </div>
  </div>
</div>
