<div class="h-full w-full px-3 py-2 flex flex-col gap-y-5 overflow-auto">
  @if (isPagination) {
    <div class="md:col-span-2 lg:col-span-2 grid grid-cols-1 xl:grid-cols-3 gap-3">
      <!-- TOTAL WITHDRAW AMOUNT -->
      <div class="bg-white rounded-xl p-4 border border-gray-200 flex justify-between items-center">
        <div>
          <div class="text-xs text-gray-500">Total withdraw amount</div>
          <div class="text-2xl mt-2 font-semibold text-gray-800">
            {{ dashboard()?.total_amount ?? 0 }}
          </div>
        </div>

        <div class="w-12 h-12 rounded-lg bg-red-50 flex items-center justify-center shrink-0">
          <i class="fa-solid fa-money-bill-transfer text-red-500"></i>
        </div>
      </div>

      <!-- SUCCESS COUNT -->
      <div class="bg-white rounded-xl p-4 border border-gray-200 flex justify-between items-center">
        <div>
          <div class="text-xs text-gray-500">Success count</div>
          <div class="text-2xl mt-2 font-semibold text-emerald-600">
            {{ dashboard()?.success_count ?? 0 }}
          </div>
        </div>

        <div class="w-12 h-12 rounded-lg bg-emerald-50 flex items-center justify-center shrink-0">
          <i class="fa-solid fa-circle-check text-emerald-500"></i>
        </div>
      </div>

      <!-- FAILED COUNT -->
      <div class="bg-white rounded-xl p-4 border border-gray-200 flex justify-between items-center">
        <div>
          <div class="text-xs text-gray-500">Failed count</div>
          <div class="text-2xl mt-2 font-semibold text-rose-600">
            {{ dashboard()?.failed_count ?? 0 }}
          </div>
        </div>

        <div class="w-12 h-12 rounded-lg bg-rose-50 flex items-center justify-center shrink-0">
          <i class="fa-solid fa-circle-xmark text-rose-500"></i>
        </div>
      </div>
    </div>
  }

  <div class="rounded-base border border-default bg-neutral-primary">
    @if (isPagination) {
      <!--  TOP TOOLBAR -->
      <form [formGroup]="searchForm">
        <div class="w-full flex flex-col gap-y-5 bg-white p-2 justify-center">
          <div class="w-full flex flex-wrap sm:flex-row items-center gap-2 text-[0.85rem]">
            <div class="flex items-center gap-2">
              <span class="text-gray-600">Order no</span>
              <input
                formControlName="orderNo"
                type="text"
                placeholder="Please enter your order no"
                class="h-9 px-3 border border-gray-300 rounded"
              />
            </div>

            <div class="flex items-center gap-2">
              <span class="text-gray-600">Address</span>
              <input
                formControlName="address"
                type="text"
                placeholder="Please enter address"
                class="h-9 px-3 border border-gray-300 rounded"
              />
            </div>

            <div class="flex items-center gap-2">
              <span class="text-gray-600">Status</span>
              <select formControlName="status" class="h-9 px-3 border border-gray-300 rounded">
                <option [ngValue]="null">Please ...</option>
                <option class="text-green-600" [ngValue]="WithdrawOrderStatus.SUCCESS">
                  SUCCESS
                </option>
                <option class="text-red-600" [ngValue]="WithdrawOrderStatus.FAILED">FAILED</option>
                <option class="text-gray-400" [ngValue]="WithdrawOrderStatus.EXPIRED">
                  EXPIRED
                </option>

                <option class="text-yellow-600" [ngValue]="WithdrawOrderStatus.PENDING_ADMIN">
                  PENDING_ADMIN
                </option>
                <option class="text-purple-600" [ngValue]="WithdrawOrderStatus.PENDING_OTP">
                  PENDING_OTP
                </option>
              </select>
            </div>

            <div class="flex items-center gap-2">
              <span class="text-gray-600">Creation time</span>
              <div class="flex items-center border border-gray-300 rounded overflow-hidden">
                <input type="date" formControlName="fromTime" class="h-9 px-2 outline-none" />
                <span class="px-2 text-gray-400">-</span>
                <input type="date" formControlName="toTime" class="h-9 px-2 outline-none" />
                <!-- ERROR -->
                <div
                  *ngIf="searchForm.errors?.['invalidDateRange']"
                  class="text-red-500 text-xs mt-1"
                >
                  From date must be before To date
                </div>
              </div>
            </div>
          </div>

          <div class="w-full flex gap-x-2 text-[0.8rem]">
            <button
              (click)="onSearchClick()"
              [disabled]="searchForm.invalid"
              class="h-9 px-3 bg-red-600 text-white rounded transition flex items-center gap-2 disabled:bg-gray-300 disabled:text-gray-500 disabled:cursor-not-allowed"
            >
              <i class="fa-solid fa-magnifying-glass"></i> Search
            </button>

            <button
              type="button"
              (click)="onReset()"
              [disabled]="searchForm.invalid"
              class="h-9 px-3 bg-red-600 text-white rounded transition flex items-center gap-2 disabled:bg-gray-300 disabled:text-gray-500 disabled:cursor-not-allowed"
            >
              Reset
            </button>
          </div>
        </div>
      </form>
    }

    <div
      class="flex items-center justify-between px-4 py-2 bg-neutral-secondary-soft border-b border-default"
    >
      <div class="text-sm text-heading space-x-1 font-bold text-black">
        <label>Widthdrawl History</label>
      </div>
    </div>

    <div class="overflow-x-auto">
      <form [formGroup]="form">
        <table class="w-full text-sm text-left border-collapse border border-default">
          <!-- HEADER -->
          <thead class="bg-gray-100 border-b border-default text-xs">
            <tr class="text-center">
              <th class="p-3 border-r border-default">Order No</th>
              <th class="p-3 border-r border-default">Currency</th>
              <th class="p-3 border-r border-default">Network</th>
              <th class="p-3 border-r border-default">To Address</th>
              <th class="p-3 border-r border-default">Amount</th>
              <th class="p-3 border-r border-default">Status</th>
              <th class="p-3 border-r border-default">Created At</th>
            </tr>
          </thead>

          <!-- BODY -->
          <tbody formArrayName="transferRows">
            <tr
              *ngFor="let row of transferRows.controls; let i = index"
              [formGroupName]="i"
              class="border-b border-default hover:bg-gray-50 text-center text-xs"
            >
              <!-- Order No -->
              <td class="px-4 py-3 border-r border-default font-medium">
                {{ row.get('order_no')?.value }}
              </td>

              <!-- Currency -->
              <td class="px-4 py-3 border-r border-default">
                <span class="px-2 py-1 text-xs bg-blue-100 text-blue-600 rounded">
                  {{ row.get('currency')?.value }}
                </span>
              </td>

              <!-- Network -->
              <td
                class="px-4 py-3 border-r border-default"
                [ngClass]="{
                  'text-yellow-600 bg-yellow-100':
                    row.get('network')?.value === 'Tron (TRC20)' ||
                    row.get('network')?.value === 'TRC20',
                  'text-green-600 bg-green-100':
                    row.get('network')?.value === 'ETH (ERC20)' ||
                    row.get('network')?.value === 'ERC20',
                }"
              >
                <span class="px-2 py-1 text-xs rounded">
                  {{ row.get('network')?.value }}
                </span>
              </td>

              <!-- To Address -->
              <td class="px-4 py-3 border-r border-default max-w-[150px]">
                <div class="group relative flex items-center gap-2">
                  <!-- TEXT -->
                  <span class="truncate max-w-[120px]">
                    {{ row.get('to_address')?.value }}
                  </span>

                  <!-- COPY ICON -->
                  <i
                    class="fa fa-copy text-gray-400 cursor-pointer opacity-0 group-hover:opacity-100 transition"
                    (click)="
                      copyAddressRecord(row.get('to_address')?.value); $event.stopPropagation()
                    "
                  ></i>

                  <!-- TOOLTIP -->
                  <span
                    class="absolute -top-6 right-0 text-xs bg-black text-white px-2 py-1 rounded opacity-0 group-hover:opacity-100 transition"
                  >
                    Copy
                  </span>
                </div>
              </td>

              <!-- Amount -->
              <td class="px-4 py-3 border-r border-default">
                <span class="px-2 py-1 text-xs bg-green-100 text-green-600 rounded">
                  {{ row.get('amount')?.value }}
                </span>
              </td>

              <!-- Status -->
              <td class="px-4 py-3 border-r border-default">
                <span
                  class="px-2 py-1 text-xs rounded"
                  [ngClass]="{
                    'bg-yellow-100 text-yellow-600': row.get('status')?.value === 'PENDING_ADMIN',
                    'bg-green-100 text-green-600': row.get('status')?.value === 'SUCCESS',
                    'bg-red-100 text-red-600': row.get('status')?.value === 'FAILED',
                    'bg-gray-100 text-gray-600': row.get('status')?.value === 'EXPIRED',
                    'bg-blue-100 text-blue-600': row.get('status')?.value === 'PENDING_OTP',
                  }"
                >
                  {{ row.get('status')?.value }}
                </span>
              </td>

              <!-- Created At -->
              <td class="px-4 py-3 border-r border-default">
                {{ row.get('created_at')?.value | date: 'dd/MM/yyyy HH:mm' }}
              </td>
            </tr>
          </tbody>
        </table>
      </form>
      @if (isPagination) {
        <app-pagination
          [page]="transferPage"
          [pageSize]="transferPageSize"
          [totalItems]="transferTotalItems"
          (pageChange)="onTransferPageChange($event)"
          (pageSizeChange)="onTransferPageSizeChange($event)"
        />
      }
    </div>
  </div>
</div>
