<div>
  <div class="rounded-base border border-default bg-neutral-primary overflow-hidden">
    <!--  TOP TOOLBAR -->
    <div
      class="flex items-center justify-between px-4 py-2 bg-neutral-secondary-soft border-b border-default"
    >
      <div class="text-sm text-heading space-x-1 font-bold text-black">
        <label>Withdrawal orders</label>
      </div>
    </div>

    <div class="overflow-x-auto">
      <form [formGroup]="form">
        <table class="w-full text-sm text-left border-collapse border border-default">
          <!-- HEADER -->
          <thead class="bg-gray-100 border-b border-default text-xs">
            <tr class="text-center">
              <th class="p-3 border-r border-default">Order number</th>
              <th class="p-3 border-r border-default">currency</th>
              <th class="p-3 border-r border-default">network</th>
              <th class="p-3 border-r border-default">address</th>
              <th class="p-3 border-r border-default">amount</th>
              <th class="p-3 border-r border-default">status</th>
              <th class="p-3 border-r border-default">created at</th>
              <th class="p-3 border-r border-default">Approval</th>
            </tr>
          </thead>

          <!-- BODY -->
          <tbody formArrayName="withdrawalsRows">
            <tr
              *ngFor="let row of withdrawalsRows.controls; let i = index"
              [formGroupName]="i"
              class="border-b border-default hover:bg-gray-50 text-center text-xs"
            >
              <!-- Order number -->
              <td class="px-4 py-3 border-r border-default">
                {{ row.get('order_no')?.value }}
              </td>

              <!-- Currency -->
              <td class="px-4 py-3 border-r border-default">
                <span class="px-2 py-1 text-xs bg-blue-100 text-blue-600 rounded">
                  {{ row.get('currency')?.value }}
                </span>
              </td>

              <!-- Network -->
              <td
                class="px-4 py-3 border-r border-default"
                [ngClass]="{
                  'text-yellow-600 bg-yellow-100':
                    row.get('network')?.value === 'Tron (TRC20)' ||
                    row.get('network')?.value === 'TRC20',
                  'text-green-600 bg-green-100':
                    row.get('network')?.value === 'ETH (ERC20)' ||
                    row.get('network')?.value === 'ERC20',
                }"
              >
                <span class="px-2 py-1 text-xs rounded">
                  {{ row.get('network')?.value }}
                </span>
              </td>

              <!-- Amount -->
              <td class="px-4 py-3 border-r border-default">
                {{ row.get('to_address')?.value }}
              </td>

              <!-- Reason -->
              <td class="px-4 py-3 border-r border-default">
                {{ row.get('amount')?.value }}
              </td>

              <!-- Status -->
              <td
                class="px-4 py-3 border-r border-default"
                [ngClass]="{
                  'text-yellow-600': row.get('status')?.value === 'PENDING_ADMIN',
                  'text-green-600': row.get('status')?.value === 'SUCCESS',
                  'text-red-600': row.get('status')?.value === 'FAILED',
                }"
              >
                <span class="px-2 py-1 bg-blue-100 rounded text-xs">
                  {{ row.get('status')?.value }}
                </span>
              </td>

              <!-- Creation time -->
              <td class="px-4 py-3">
                {{ row.get('created_at')?.value | date: 'dd/MM/yyyy HH:mm' }}
              </td>

              <td class="px-4 py-3 border-l border-default">
                <div class="relative inline-block text-left">
                  <button
                    (click)="toggleDropdown(i)"
                    class="px-3 py-1 text-xs bg-gray-200 rounded hover:bg-gray-300"
                  >
                    Action
                  </button>

                  <div
                    *ngIf="openDropdownIndex === i"
                    class="absolute right-0 mt-2 w-32 bg-white border rounded shadow z-10"
                  >
                    <button
                      class="block w-full text-left px-3 py-2 text-green-600 hover:bg-gray-100"
                      (click)="openNoteInput(i, WithdrawOrderStatus.SUCCESS)"
                    >
                      Success
                    </button>

                    <button
                      class="block w-full text-left px-3 py-2 text-red-600 hover:bg-gray-100"
                      (click)="openNoteInput(i, WithdrawOrderStatus.FAILED)"
                    >
                      Failed
                    </button>
                  </div>
                  <div *ngIf="openNoteIndex === i" class="mt-2 p-2 border rounded bg-gray-50">
                    <input
                      type="text"
                      [value]="adminNote"
                      (input)="adminNote = $any($event.target).value"
                      placeholder="Nhập admin note..."
                      class="w-full border rounded px-2 py-1 text-xs mb-2"
                    />

                    <div class="flex gap-2 justify-end">
                      <button
                        type="button"
                        class="px-2 py-1 bg-blue-500 text-white text-xs rounded"
                        (click)="confirmUpdate(i, $event)"
                      >
                        Confirm
                      </button>

                      <button class="px-2 py-1 bg-gray-300 text-xs rounded" (click)="cancelNote()">
                        Cancel
                      </button>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
      <app-pagination
        [page]="withdrawalsPage"
        [pageSize]="withdrawalsPageSize"
        [totalItems]="withdrawalsTotalItems"
        (pageChange)="onWithdrawalsPageChange($event)"
        (pageSizeChange)="onWithdrawalsPageChange($event)"
      ></app-pagination>
    </div>
  </div>
</div>
