<div class="space-y-5">
  <!--  TOP TOOLBAR -->
  <form [formGroup]="searchForm">
    <div class="w-full flex flex-col gap-y-5 bg-white p-4 justify-center">
      <div class="w-full flex flex-wrap sm:flex-row items-center gap-2 text-[0.85rem]">
        <div class="flex items-center gap-2">
          <span class="text-gray-600">Order number</span>
          <input
            formControlName="orderNo"
            type="text"
            placeholder="Please enter your order number"
            class="h-9 px-3 border border-gray-300 rounded"
          />
        </div>

        <div class="flex items-center gap-2">
          <span class="text-gray-600">username</span>
          <input
            formControlName="username"
            type="text"
            placeholder="Please enter username"
            class="h-9 px-3 border border-gray-300 rounded"
          />
        </div>

        <div class="flex items-center gap-2">
          <span class="text-gray-600">status</span>
          <select formControlName="status" class="h-9 px-3 border border-gray-300 rounded">
            <option [ngValue]="null">Please ...</option>
            <option class="text-green-600" [ngValue]="WithdrawOrderStatus.SUCCESS">SUCCESS</option>
            <option class="text-red-600" [ngValue]="WithdrawOrderStatus.FAILED">FAILED</option>
            <option class="text-gray-400" [ngValue]="WithdrawOrderStatus.EXPIRED">EXPIRED</option>

            <option class="text-yellow-600" [ngValue]="WithdrawOrderStatus.PENDING_ADMIN">
              PENDING_ADMIN
            </option>
            <option class="text-purple-600" [ngValue]="WithdrawOrderStatus.PENDING_OTP">
              PENDING_OTP
            </option>
          </select>
        </div>

        <div class="flex items-center gap-2">
          <span class="text-gray-600">Creation time</span>
          <div class="flex items-center border border-gray-300 rounded overflow-hidden">
            <input type="date" formControlName="fromTime" class="h-9 px-2 outline-none" />
            <span class="px-2 text-gray-400">-</span>
            <input type="date" formControlName="toTime" class="h-9 px-2 outline-none" />
            <!-- ERROR -->
            <div *ngIf="searchForm.errors?.['invalidDateRange']" class="text-red-500 text-xs mt-1">
              From date must be before To date
            </div>
          </div>
        </div>
      </div>

      <div class="w-full flex gap-x-2 text-[0.8rem]">
        <button
          (click)="onSearchClick()"
          [disabled]="searchForm.invalid"
          class="h-9 px-3 bg-red-600 text-white rounded transition flex items-center gap-2 disabled:bg-gray-300 disabled:text-gray-500 disabled:cursor-not-allowed"
        >
          <i class="fa-solid fa-magnifying-glass"></i> Search
        </button>

        <button
          type="button"
          (click)="onReset()"
          [disabled]="searchForm.invalid"
          class="h-9 px-3 bg-red-600 text-white rounded transition flex items-center gap-2 disabled:bg-gray-300 disabled:text-gray-500 disabled:cursor-not-allowed"
        >
          Reset
        </button>
      </div>
    </div>
  </form>

  <div class="rounded-base border border-default bg-neutral-primary overflow-hidden">
    <div class="overflow-x-auto">
      <form [formGroup]="form">
        <table class="w-full text-sm text-left border-collapse border border-default">
          <!-- HEADER -->
          <thead class="bg-gray-100 border-b border-default text-xs">
            <tr class="text-center">
              <th class="p-3 border-r border-default">Order number</th>
              <th class="p-3 border-r border-default">username</th>
              <th class="p-3 border-r border-default">amount</th>
              <th class="p-3 border-r border-default">currency</th>
              <th class="p-3 border-r border-default">network</th>
              <th class="p-3 border-r border-default">address</th>
              <th class="p-3 border-r border-default">status</th>
              <th class="p-3 border-r border-default">created at</th>
              <th class="p-3 border-r border-default">Approval</th>
            </tr>
          </thead>

          <!-- BODY -->
          <tbody formArrayName="withdrawalsRows">
            <tr
              *ngFor="let row of withdrawalsRows.controls; let i = index"
              [formGroupName]="i"
              class="border-b border-default hover:bg-gray-50 text-center text-xs"
            >
              <!-- Order number -->
              <td class="px-4 py-3 border-r border-default">
                {{ row.get('order_no')?.value }}
              </td>

              <!-- Currency -->
              <td class="px-4 py-3 border-r border-default">
                <span class="px-2 py-1 text-xs bg-blue-100 text-blue-600 rounded">
                  {{ row.get('username')?.value }}
                </span>
              </td>

              <!-- Reason -->
              <td class="px-4 py-3 border-r border-default">
                {{ row.get('amount')?.value }}
              </td>

              <!-- Currency -->
              <td class="px-4 py-3 border-r border-default">
                <span class="px-2 py-1 text-xs bg-blue-100 text-blue-600 rounded">
                  {{ row.get('currency')?.value }}
                </span>
              </td>

              <!-- Network -->
              <td
                class="px-4 py-3 border-r border-default"
                [ngClass]="{
                  'text-yellow-600 bg-yellow-100':
                    row.get('network')?.value === 'Tron (TRC20)' ||
                    row.get('network')?.value === 'TRC20',
                  'text-green-600 bg-green-100':
                    row.get('network')?.value === 'ETH (ERC20)' ||
                    row.get('network')?.value === 'ERC20',
                }"
              >
                <span class="px-2 py-1 text-xs rounded">
                  {{ row.get('network')?.value }}
                </span>
              </td>

              <!-- Amount -->
              <td class="px-4 py-3 border-r border-default">
                {{ row.get('to_address')?.value }}
              </td>

              <!-- Status -->
              <td
                class="px-4 py-3 border-r border-default"
                [ngClass]="{
                  'text-yellow-600': row.get('status')?.value === 'PENDING_ADMIN',
                  'text-green-600': row.get('status')?.value === 'SUCCESS',
                  'text-red-600': row.get('status')?.value === 'FAILED',
                }"
              >
                <span class="px-2 py-1 bg-blue-100 rounded text-xs">
                  {{ row.get('status')?.value }}
                </span>
              </td>

              <!-- Creation time -->
              <td class="px-4 py-3">
                {{ row.get('created_at')?.value | date: 'dd/MM/yyyy HH:mm' }}
              </td>

              <!-- ACTION -->
              <td class="px-4 py-3 border-l border-default">
                <button
                  type="button"
                  (click)="toggleDropdown(i, $event)"
                  class="px-3 py-1 text-xs bg-gray-200 rounded hover:bg-gray-300"
                >
                  Action
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
      <app-pagination
        [page]="withdrawalsPage"
        [pageSize]="withdrawalsPageSize"
        [totalItems]="withdrawalsTotalItems"
        (pageChange)="onWithdrawalsPageChange($event)"
        (pageSizeChange)="onWithdrawalsPageChange($event)"
      ></app-pagination>
    </div>
  </div>
</div>

<!-- FLOATING DROPDOWN -->
<div
  *ngIf="openDropdownIndex !== null"
  [ngStyle]="{
    position: 'fixed',
    top: dropdownPosition.top + 'px',
    left: dropdownPosition.left + 'px',
    'z-index': 9999,
  }"
  class="w-32 bg-white border rounded shadow-lg text-sm"
  (click)="$event.stopPropagation()"
>
  <button
    type="button"
    class="block w-full text-left px-3 py-2 text-green-600 hover:bg-gray-100"
    (click)="openNoteInput(openDropdownIndex, WithdrawOrderStatus.SUCCESS, $event)"
  >
    Success
  </button>

  <button
    type="button"
    class="block w-full text-left px-3 py-2 text-red-600 hover:bg-gray-100"
    (click)="openNoteInput(openDropdownIndex, WithdrawOrderStatus.FAILED, $event)"
  >
    Failed
  </button>
</div>

<!-- FLOATING NOTE INPUT -->
<div
  *ngIf="openNoteIndex !== null"
  [ngStyle]="{
    position: 'fixed',
    top: notePosition.top + 'px',
    left: notePosition.left + 'px',
  }"
  class="w-72 p-3 border rounded bg-white shadow-lg"
  (click)="$event.stopPropagation()"
>
  <input
    type="text"
    [value]="adminNote"
    (input)="adminNote = $any($event.target).value"
    placeholder="Nhập admin note..."
    class="w-full border rounded px-2 py-1 text-xs mb-2"
  />

  <div class="flex gap-2 justify-end">
    <button
      type="button"
      class="px-2 py-1 bg-blue-500 text-white text-xs rounded"
      (click)="this.showConfirmModal.set(true)"
    >
      Confirm
    </button>

    <button type="button" class="px-2 py-1 bg-gray-300 text-xs rounded" (click)="cancelNote()">
      Cancel
    </button>
  </div>
</div>

<app-confirm-modal
  [visible]="this.showConfirmModal()"
  content="Are you sure you want to perform this action?"
  [onConfirm]="handleConfirmUpdate"
  (cancel)="this.showConfirmModal.set(false)"
></app-confirm-modal>
